@font-face {
  font-family: MetalMania;
  src: url(./Fonts/MetalMania-Regular.ttf);
}

@font-face {
  font-family: Ubuntu;
  src: url(./Fonts/Ubuntu-Regular.ttf);
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #1c2a55;
}

nav {
  background-color: #20356e;
  position: static;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0% 15%;
}

nav a {
  color: #fca311;
  font-family: MetalMania;
  font-size: 1.75vw;
  text-decoration: 0;
  padding: 3%;
  transition: 250ms ease-in-out;
}

nav a:hover {
  color: #fc5311;
  text-shadow: 0 0 50px #fc7f59;
}

nav img {
  width: 20%;
  height: 20%;
}

.page-container {
  position: relative;
  height: 20rem;
}

footer {
  background-color: #20356e;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-top: 1%;
}

footer div {
  padding: 0, 5%;
  margin: 0% 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer div div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: azure;
  font-family: Ubuntu;
  font-size: 0.6vw;
}

footer button {
  border-color: #fca311;
  margin: 1.5%;
  line-height: 150%;
  padding: 0 3ch;
  text-align: center;
  font-size: 0.9vw;
  font-family: Ubuntu;
  color: azure;
  background-color: #fca311;
  text-shadow: 2px 2px 2px #633d00;
  border-radius: 1ch;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.4) 50%,
    rgba(0, 0, 0, 0.2)
  );
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px -3px #633d00;
}

footer button:hover {
  background-color: #fcbd11;
  border-color: #fcbd11;
  transition: 250ms ease-in-out;
}

footer a {
  margin: 0 1.5vw;
}











/* Content i index.html  */
.contentIndex {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5% 25%;
}

.contentIndex img {
  width: 100%;
  margin-bottom: 2%;
  border-radius: 30px;
}

.contentIndex h1 {
  color: #fca311;
  font-size: 2.5vw;
  font-family: MetalMania;
  line-height: 200%;
}

.contentIndex p {
  color: #fca311;
  font-size: 1vw;
  font-family: Ubuntu;
  text-align: center;
  line-height: 150%;
}













/* Content i harwareguide.html */
.contentHardware {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin: 5% 20%;
  padding: 5%;
  border: 15px double #fc5311;
  border-radius: 30px;
  background-color: #20356e;
}

.contentHardware h1 {
  color: #fca311;
  font-size: 2.5vw;
  font-family: MetalMania;
  margin: 3%;
}
.contentHardware h3{
  color: #fca311;
  font-size: 1.4vw;
  font-family: Ubuntu;
  text-align: center;
  margin: 2%;
}

.contentHardware img {
  width: 80%;
}

.contentHardware h2 {
  color: #fca311;
  font-size: 1.75vw;
  font-family: MetalMania;
  margin-top: 3%;
}

.contentHardware p {
  color: #fca311;
  font-size: 1vw;
  font-family: Ubuntu;
}













/* Gör att text och bild hänger ihop i samma container */
.headstock {
  display: flex;
  align-items: center;
}
.headstock img {
  width: 25%;
  margin: 2%;
  border-radius: 30px;
}

.tuners {
  display: flex;
  align-items: center;
}
.tuners img {
  width: 30%;
  margin: 2%;
  border-radius: 30px;
}

.neck {
  display: flex;
  align-items: center;
}
.neck img {
  width: 40%;
  margin: 2%;
  border-radius: 30px;
}

.frets {
  display: flex;
  align-items: center;
}
.frets img {
  width: 40%;
  margin: 2%;
  border-radius: 30px;
}

.strings {
  display: flex;
  align-items: center;
}
.strings img {
  width: 40%;
  margin: 2%;
  border-radius: 30px;
}

.guitarbody {
  display: flex;
  align-items: center;
}
.guitarbody img {
  width: 40%;
  margin: 2%;
  border-radius: 30px;
}

.pickups {
  display: flex;
  align-items: center;
}
.pickups img {
  width: 40%;
  margin: 2%;
  border-radius: 30px;
}

.bridge {
  display: flex;
  align-items: center;
}
.bridge img {
  width: 40%;
  margin: 2%;
  border-radius: 30px;
}












/* Content i aboutus.html  */
.contentAbout {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: 15px double #fc5311;
  border-radius: 30px;
  background-color: #20356e;
  margin: 5% 20%;
  padding: 3%;
}

.contentAbout h1 {
  color: #fca311;
  font-size: 2.5vw;
  font-family: MetalMania;
  margin: 3%;
  text-shadow: 0 0 50px #fc7f59;
}

.contentAbout img {
  width: 20%;
  margin: 3%;
}

.contentAbout p {
  color: #fca311;
  font-size: 1vw;
  font-family: Ubuntu;
  text-align: center;
  margin: 0 20%;
}











/* Content i store.html */
.contentStore {
  text-align: center;
  border: 15px double #fc5311;
  border-radius: 30px;
  background-color: #20356e;
  margin: 5% 20%;
  padding: 3%;
}

.contentStore h1 {
  color: #fca311;
  font-size: 2.5vw;
  font-family: MetalMania;
  margin-bottom: 10%;
}

.mainContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.mainContainer img {
    float: left;
    width:  100px;
    height: 400px;
    object-fit: contain;
    margin-top: 5%;
}

.mainContainer h2 {
  color: #000000;
  font-size: 1vw;
  font-family: Ubuntu;
  text-align: center;
  padding: 10%;
}

.mainContainer h3 {
  color: #000000;
  font-size: 1.1vw;
  font-family: Ubuntu;
  margin-bottom: 3%;
}

.leftContainer {
  display: flex;
  flex-wrap: wrap;
  width: 30%;
  transition: 250ms ease-in-out;
}

.rightContainer {
  display: flex;
  flex-wrap: wrap;
  width: 30%;
  transition: 250ms ease-in-out;
}

.deanGuitar {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid #fca311;
  background-color: #ffffff;
  border-radius: 30px;
  text-decoration: 0;
  transition: 150ms ease-in-out;
  margin-bottom: 15%
}
.deanGuitar:hover {
  border-color: #fc5311;
}

.solarGuitar {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid #fca311;
  background-color: #ffffff;
  border-radius: 30px;
  text-decoration: 0;
  transition: 150ms ease-in-out;
  margin-bottom: 15%
}
.solarGuitar:hover {
  border-color: #fc5311;
}

.schecterGuitar {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid #fca311;
  background-color: #ffffff;
  border-radius: 30px;
  text-decoration: 0;
  transition: 150ms ease-in-out;
  margin-bottom: 15%
}
.schecterGuitar:hover {
  border-color: #fc5311;
}

.ibanezGuitar {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid #fca311;
  background-color: #ffffff;
  border-radius: 30px;
  text-decoration: 0;
  transition: 150ms ease-in-out;
  margin-bottom: 15%
}
.ibanezGuitar:hover {
  border-color: #fc5311;
}

.jacksonGuitar {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid #fca311;
  background-color: #ffffff;
  border-radius: 30px;
  text-decoration: 0;
  transition: 150ms ease-in-out;
  margin-bottom: 15%
}
.jacksonGuitar:hover {
  border-color: #fc5311;
}

.espGuitar {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid #fca311;
  background-color: #ffffff;
  border-radius: 30px;
  text-decoration: 0;
  transition: 150ms ease-in-out;
  margin-bottom: 15%
}
.espGuitar:hover {
  border-color: #fc5311;
}









/* Produktsidaorna för gitarrerna */
.productMainContainer {
  border: 15px double #fc5311;
  border-radius: 30px;
  background-color: #20356e;
  margin: 5% 20%;
  padding: 3%;
}

.product {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: #fca311;
}

.product img {
  margin-right: 5%;
  margin-bottom: 5%;
  padding: 5%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 30px;
}

.product h1 {
  margin: 3% 0%;
  font-family: MetalMania;
  font-size: 2vw;
}

.product h2 {
  margin: 5% 0%;
  font-family: Ubuntu;
  font-size: 1.5vw;
}

.specs {
  font-family: Ubuntu;
  font-size: 1.1vw;
  margin-left: 5%;
}

.product p {
  font-family: Ubuntu;
  font-size: 1vw;
  margin-bottom: 5%;
}

.product button{
  border-color: #fca311;
  line-height: 150%;
  padding: 1ch;
  text-align: center;
  font-size: 0.9vw;
  font-family: Ubuntu;
  color: azure;
  background-color: #fca311;
  text-shadow: 2px 2px 2px #633d00;
  border-radius: 1ch;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.4) 50%,
    rgba(0, 0, 0, 0.2)
  );
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px -3px #633d00;
}

.product button:hover {
  background-color: #fcbd11;
  border-color: #fcbd11;
  transition: 250ms ease-in-out;
}